<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true">
	<php>
		<!-- These settings are available as $_GLOBAL variables in PHPUnit -->
		<!-- See http://phpunit.de/manual/3.7/en/database.html -->
		<var name="TEST_MYSQL_DB_HOST" value="127.0.0.1" />
		<var name="TEST_MYSQL_DB_USERNAME" value="avtcoretest" />
		<var name="TEST_MYSQL_DB_PASSWORD" value="avtcoretest" />
		<var name="TEST_MYSQL_DB_DATABASE" value="avtcoretest" />
		<var name="TEST_ORACLE_DB_HOST" value="localhost/XE" />
		<var name="TEST_ORACLE_DB_USERNAME" value="avtcoretest" />
		<var name="TEST_ORACLE_DB_PASSWORD" value="avtcoretest" />
		<var name="TEST_ORALCE_NLS_LANG" value="AL32UTF8" />
	</php>
	<testsuites>
		<testsuite name="avtcore">
			<directory>./</directory>
		</testsuite>
	</testsuites>
</phpunit>